@mixin before_icon {
    &:before {
        position: absolute;
        right: calc(100% + 10px);
        top: 8%;
    }
}

@mixin after_div {
    &:after {
        width: 1px;
        height: 64px;
        border: 1px solid #ffffff;
    }
}