.variants {
    position: relative;
    height: 457px;
    padding-top: 60px;
    &__title {
        margin-top: 71px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__left {
        text-align: right;
        width: 960px;
        height: 580px;
        background: url('../img/variants/bg_left.jpg') center (center / cover) no-repeat
    }
    &__right {
        text-align: left;
        width: 960px;
        height: 580px;
        background: url('../img/variants/bg_right.jpg') center (center / cover) no-repeat;;
    }
    &__subtitle {
        margin: 276px 82px 0 82px;
        font-weight: 900;
        font-size: 25px;
        line-height: 22px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__text {
        margin: 23px 82px 0 82px;
        font-weight: 300;
        font-size: 18px;
        line-height: 26px;
        color: #FFFFFF;
    }
}